{% if site.rss_feed_url %}
<section>
  {% if site.rss_feed_title_url %}
  <h1><a href="{{ site.rss_feed_title_url }}">{{ site.rss_feed_title }}</a></h1>
  {% else %}
  <h1>{{ site.rss_feed_title }}</h1>
  {% endif %}
  <ul id="rss_feed_linkroll">
    <li class="loading">Fetching links...</li>
  </ul>
  <script type="text/javascript">
    var linkroll = 'rss_feed_linkroll';
    var rss_feed_url = "http://pipes.yahoo.com/pipes/pipe.run?_id=259ba707b877effd5c0bd3234ef10cf6&_render=json&url={{ site.rss_feed_url }}";
    var rss_item_count = {{ site.rss_item_count }};
    var rss_title_length = {{ site.rss_title_length }};
  </script>
  <script src="{{ root_url }}/javascripts/rss_feed.js" type="text/javascript"></script>
  {% if site.rss_feed_include_link_to_feed %}
  <p><a href="{{ site.rss_feed_url }}">{{ site.rss_feed_link_title }} &raquo;</a></p>
  {% endif %}
</section>
{% endif %}
