{% if site.twitter_user %}
<section>
  <h1><a href="https://twitter.com/intent/user?screen_name={{site.twitter_user}}" target="twitter">Twitter</a></h1>

  <div id="tweets"></div>

  {% if site.twitter_widget_id %}
  <script type="text/javascript" src="/assets/twitterFetcher_v9_min.js"></script>

  <script>
    twitterFetcher.fetch("{{ site.twitter_widget_id }}", 'tweets',
                          {{ site.twitter_tweet_count }}, true,
                          {{ site.twitter_show_users }},
                          {{ site.twitter_show_dates }}, "default",
                          {{ site.twitter_show_retweets }});
  </script>
  {% endif %}

  {% if site.twitter_follow_button %}
    <a class="sharebutton" id="twitter-follow" target="twitter" href="//twitter.com/intent/follow?&screen_name={{ site.twitter_user }}">
      <img class="button-img" id="twitter" src="/images/bird.png"></img>
      Follow @{{ site.twitter_user }}
    </a>
  {% else %}
    <p>Follow <a href="http://twitter.com/{{site.twitter_user}}" target="twitter">@{{ site.twitter_user }}</a></p>
  {% endif %}
</section>
{% endif %}
