@import "compass";

/*
  Print styles
    From: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
*/

* {
  background: transparent !important;
  color: #000 !important; /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
 * Don't show links for images, or javascript/internal links
 */

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group; /* h5bp.com/t */
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100%;
}

@page {
  margin: 0.5cm;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}


/*
  Octopress Print styles
*/

// Removes unnecessary parts for print view: navigation and sidebar
body > nav,
aside.sidebar {
  display: none;
}

// Body
body {
  color: black;
  font-size: 11pt;
}

h1 {
  font-size: 14pt;
}
h2 {
  font-size: 13pt;
}
h3 {
  font-size: 12pt;
}
h4,h5,h6{
  font-size: 11pt;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  text-decoration: none;
}


/*
  Custom Print styles (imported last)
*/

@import "custom/print";
