---
layout: default
description: Project Articles
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.categories['projects'] %}
    {% assign content = post.content %}
    <article {% if post.image %} class="withimage" {% endif %}>
      {% include article.html %}
    </article>
  {% endfor %}
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
