<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a class="sharebutton" id="tweetlink" target="twitter" href="//twitter.com/share?text={{ page.title }} - {{ site.title }}&via={{ site.twitter_user }}&url={{ site.url }}{{ page.url }}">
    <img class="button-img" id="twitter" src="/images/bird.png"></img>
    Tweet
  </a>
  {% endif %}
  {% if page.discuss %}
  <a href="{{ site.discuss_prefix }}{{ page.discuss }}" class="sharebutton" id="discuss" target="discuss">
    <img class="button-img" id="discuss" src="/images/discuss.png"></img>
    Discuss
  </a>
  {% endif %}
  {% if site.posts_view_raw %}
  <a href="index.md" class="sharebutton" id="viewmd" target="sourcemmd">
    <img class="button-img" id="dfsymbol" src="/images/mmd.png"></img>
    Source
  </a>
  {% endif %}
  {% if site.posts_view_git and site.github_repo_id %}
  <a href="https://github.com/{{ site.github_user }}/{{ site.github_repo_id }}/blob/source/source/_posts/{{ page.name }}" class="sharebutton" id="viewhistory" target="sourcegit">
    <img class="button-img" id="octocat" src="/images/octocat.png"></img>
    Github
  </a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
</div>
