<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a class="sharebutton" id="tweetlink" target="sharebutton" href="//twitter.com/share?text={{ page.title }} - {{ site.title }}&via={{ site.twitter_user }}&url={{ site.url }}{{ page.url }}">
    <img class="button-img" id="twitter" src="/images/bird.png"></img>
    Tweet
  </a>
  {% endif %}
  {% if site.viewraw %}
  <a href="index.md" class="sharebutton" id="viewmd" target="sourcemmd">
    <img class="button-img" id="dfsymbol" src="/images/viewmmd.png"></img>
    view mmd
  </a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
</div>
