#galleria-loader {
    height: 1px !important
}

.galleria-theme-classic {
    position: relative;
    overflow: hidden;
    font: 11px/1.4 arial, sans-serif;
    color: #fff
}

.galleria-theme-classic img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none
}

.galleria-theme-classic .galleria-stage {
    overflow: hidden;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px
}

.galleria-theme-classic.fullscreen .galleria-stage {
    bottom: 0
}

.galleria-theme-classic .galleria-bar {
    height: 31px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #222 url(bar.png) repeat-x;
    z-index: 3
}

.galleria-theme-classic.light .galleria-bar {
    background: #fff;
    height: 30px;
}

.galleria-theme-classic .galleria-s1, .galleria-theme-classic .galleria-s2,
.galleria-theme-classic .galleria-s3, .galleria-theme-classic .galleria-s4 {
    background: url(separator.png);
    height: 29px;
    width: 2px;
    position: absolute;
    left: 28px;
    bottom: 1px
}

.galleria-theme-classic.light .galleria-s1, .galleria-theme-classic.light .galleria-s2,
.galleria-theme-classic.light .galleria-s3, .galleria-theme-classic.light .galleria-s4,
.galleria-theme-classic.light .galleria-counter {
    background-image: url(separator-neg.png);
    bottom: 0;
    height: 30px
}

.galleria-theme-classic .galleria-s2 {
    left: 58px
}

.galleria-theme-classic .galleria-s3 {
    right: 29px;
    left: auto
}

.galleria-theme-classic .galleria-s4 {
    right: 58px;
    left: auto
}

.galleria-theme-classic .galleria-progress {
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: #aaa;
    opacity: .5;
    z-index: 3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50)
}

.galleria-theme-classic .galleria-thumblink, .galleria-theme-classic .galleria-fullscreen,
.galleria-theme-classic .galleria-play, .galleria-theme-classic .galleria-popout {
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(thumbs.png) no-repeat 50% 50%;
    cursor: pointer
}

.galleria-theme-classic.light .galleria-thumblink, .galleria-theme-classic.light .galleria-fullscreen,
.galleria-theme-classic.light .galleria-play, .galleria-theme-classic.light .galleria-popout {
    bottom: 0;
    height: 30px
}

.galleria-theme-classic.light .galleria-thumblink {
    background-image: url(thumbs-neg.png)
}

.galleria-theme-classic .galleria-fullscreen, .galleria-theme-classic .galleria-popout {
    left: auto;
    right: 0;
    background-image: url(fullscreen.png);
    background-position: 8px 7px
}

.galleria-theme-classic.light .galleria-fullscreen {
    background-image: url(fullscreen-neg.png);
    background-position: 8px 8px
}

.galleria-theme-classic .galleria-popout {
    background-image: url(popout.png);
    right: 30px;
    background-position: 50% 50%
}

.galleria-theme-classic.light .galleria-popout {
    background-image: url(popout-neg.png)
}

.galleria-theme-classic .galleria-play {
    left: 30px;
    background-image: url(playpause.png);
    background-position: 10px 9px
}

.galleria-theme-classic.light .galleria-play {
    background-image: url(playpause-neg.png)
}

.galleria-theme-classic .galleria-play.playing {
    background-position: 10px -91px
}

.galleria-theme-classic .galleria-fullscreen.open {
    background-position: 8px -93px
}

.galleria-theme-classic.notouch .galleria-thumblink:hover, .galleria-theme-classic.touch .galleria-thumblink:active, .galleria-theme-classic .galleria-thumblink.open, .galleria-theme-classic.notouch .galleria-fullscreen:hover, .galleria-theme-classic.touch .galleria-fullscreen:active, .galleria-theme-classic.notouch .galleria-play:hover, .galleria-theme-classic.touch .galleria-play:active, .galleria-theme-classic.notouch .galleria-popout:hover, .galleria-theme-classic.touch .galleria-popout:active {
    background-color: #000
}

.galleria-theme-classic.light.notouch .galleria-thumblink:hover, .galleria-theme-classic.light.touch .galleria-thumblink:active, .galleria-theme-classic.light .galleria-thumblink.open, .galleria-theme-classic.light.notouch .galleria-fullscreen:hover, .galleria-theme-classic.light.touch .galleria-fullscreen:active, .galleria-theme-classic.light.notouch .galleria-play:hover, .galleria-theme-classic.light.touch .galleria-play:active, .galleria-theme-classic.light.notouch .galleria-popout:hover, .galleria-theme-classic.light.touch .galleria-popout:active {
    background-color: #eee
}

.galleria-theme-classic .galleria-thumbnails-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: url(bg.png);
    z-index: 2
}

.galleria-theme-classic .galleria-thumbnails-list {
    position: absolute !important;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 41px;
    overflow: auto !important
}

.galleria-theme-classic .galleria-thumbnails .galleria-image {
    width: 80px;
    height: 45px;
    float: left;
    margin: 0 7px 7px 0;
    border: 3px solid #fff;
    cursor: pointer
}

.galleria-theme-classic.notouch .galleria-thumbnails .galleria-image:hover, .galleria-theme-classic.touch .galleria-thumbnails .galleria-image:active {
    opacity: .9;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .4)
}

.galleria-theme-classic .galleria-info {
    position: absolute;
    overflow: hidden;
    height: 29px;
    line-height: 29px;
    left: 70px;
    right: 70px;
    bottom: 1px;
    color: #bbb
}

.galleria-theme-classic.light .galleria-info {
    color: #888
}

.galleria-theme-classic .galleria-info > *, .galleria-theme-classic .galleria-info-text > * {
    display: inline
}

.galleria-theme-classic .galleria-info-title {
    color: #fff;
    font-weight: bold;
    padding: 0 10px
}

.galleria-theme-classic.light .galleria-info-title {
    color: #000
}

.galleria-theme-classic .galleria-info-text {
    padding-left: 10px
}

.galleria-theme-classic .galleria-counter {
    background: url(separator.png) no-repeat 100% 0;
    display: inline-block;
    *display: inline;
    padding-right: 10px;
    _height: 29px;
    zoom: 1
}

.galleria-theme-classic .galleria-loader {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 2;
    display: none;
    background: #000 url(loader.gif) no-repeat 50% 50%;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.galleria-theme-classic .galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    left: 0
}

.galleria-theme-classic .galleria-image-nav-left, .galleria-theme-classic .galleria-image-nav-right {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    z-index: 2;
    background: url(nav.png)
}

.galleria-theme-classic.light .galleria-image-nav-left, .galleria-theme-classic.light .galleria-image-nav-right {
    background-image: url(nav-neg.png)
}

.galleria-theme-classic .galleria-image-nav-right {
    left: auto;
    right: 20px;
    background-position: -36px 0;
    z-index: 2
}

.galleria-theme-classic.notouch .galleria-image-nav-left:hover, .galleria-theme-classic.touch .galleria-image-nav-left:active {
    background-position: 0 -36px
}

.galleria-theme-classic.notouch .galleria-image-nav-right:hover, .galleria-theme-classic.touch .galleria-image-nav-right:active {
    background-position: -36px -36px
}

.galleria-theme-classic .galleria-thumb-nav-left, .galleria-theme-classic .galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8
}

.galleria-theme-classic .galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto
}

.galleria-theme-classic .galleria-thumbnails-container .disabled,
.galleria-theme-classic .galleria-thumbnails-container .disabled:hover, .galleria-theme-classic .galleria-thumbnails-container .disabled:active {
    opacity: .2;
    cursor: default
}

.galleria-theme-classic.notouch .galleria-thumb-nav-left:hover, .galleria-theme-classic.touch .galleria-thumb-nav-left:active, .galleria-theme-classic.notouch .galleria-thumb-nav-right:hover, .galleria-theme-classic.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    background-color: #111
}

.galleria-theme-classic.light.notouch .galleria-thumb-nav-left:hover, .galleria-theme-classic.light.touch .galleria-thumb-nav-left:active, .galleria-theme-classic.light.notouch .galleria-thumb-nav-right:hover, .galleria-theme-classic.light.touch .galleria-thumb-nav-right:active {
    background-color: #eee
}

.galleria-theme-classic .galleria-carousel .galleria-thumb-nav-left,
.galleria-theme-classic .galleria-carousel .galleria-thumb-nav-right {
    display: block
}

.galleria-theme-classic .galleria-lightbox-content {
    background: url(loader_pos.gif) no-repeat 50% 50%
}

@media only screen and (max-width:360px) {
    .galleria-theme-classic .galleria-thumbnails .galleria-image {
        width: 60px;
        height: 42px;
        margin: 0 4px 4px 0;
        border-width: 2px
    }
}


