{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

 <div id="rebrand" style="position:fixes; top:0; background:yellow; padding:30px 10px 10px 10px; text-align:center">
    <h2>We're rebranding to <a href="http://swindon-makerspace.org">Swindon Makerspace</a> and moving to dedicated 24x7 premises in a 600sq ft industrial unit.  Visit our new <a href="http://swindon-makerspace.org">website</a> for more details.</h2>
  </div>


  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
