/*
  Styles for each type of aside
*/

// hide rss details and remove border
.rss_feed-description {
  display: none;
}

// truncate sidebar titles using ellipsis
section > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  a { white-space: nowrap !important; }
  padding-right: 0.4em !important;
}

// hide git repo details and remove border
#gh_repos > li { p { display: none; } }

// tweets container
#tweets {
  font-size: 85%;
  padding-bottom: 0.5em;
  padding-right: 1em;
  .tweet {
    // only show main part for expanded urls
    a { span:first-child, span:last-child { display: none; }}
    a { color: $text-color-light; }
  }
  a:hover { color: $link-color-hover; }
}

// don't show loading status (fail gracefully)
aside > section .loading { display: none; }
