/*
  Styles for sidebar asides
*/

// don't show loading status (fail gracefully)
aside > section .loading { display: none; }

// hide rss feed description
.rss_feed-description { display: none; }

// hide git repo description
#gh_repos > li { p { display: none; } }
