/*
  Posts, Pages and Index
*/

// set maximum width for videos
article { video, .flash-video { max-width: 640px; } }

// make article padding consistent
.blog-index > article { padding-top: 1em !important; }
#content > div { padding: { top: 0.5em !important; bottom: 0em !important; }}

// article padding on desktop browsers
@media only screen and (min-width: 960px) {
  #content > div { padding-top: 1.5em !important; }
}

// Don't float post text around images at smaller browser widths
.entry-content .basic-alignment {
  @media only screen and (max-width: 959px) {
    &.right, &.left { float: none; display:block; margin: 0 auto 1.5em; }
  }
}
