/*
  Posts, Pages and Index
*/

// hide date, padding and dotted underline
article > header {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background: none;
  .meta time { display: none; }
}

// centre align images in a paragraph
article p > img { margin: 0 auto 1.5em; display: block; }

// set maximum width for images, videos
@media only screen and (min-width: 960px) {
  article { img, video, .flash-video { max-width: 640px; } }
}

// max image widths when floated
@media only screen and (min-width: 480px) {
  article { img.right, img.left { max-width: 400px; max-height: 290px; } }
}

// Don't float post text around images at smaller browser widths
.basic-alignment {
  @media only screen and (max-width: 959px) {
    &.right, &.left { float: none; display:block; margin: 0 auto 1.5em; }
  }
}

// add padding after sharing buttons
.sharing + .meta { padding-top: 2em; }

// make article padding consistent
.blog-index > article { padding-top: 1em !important; }
#content > div { padding: { top: 0.5em !important; bottom: 0em !important; }}

// article padding on desktop browsers
@media only screen and (min-width: 960px) {
  #content > div { padding-top: 1.5em !important; }
}
