/*
  Buttons
*/

// twitter image size and positioning
#twitter.button-img { margin-top: 4px; }

// margin for button after object (link, button, embed etc.)
footer > .sharing > * + * { margin-left: 0.3em; }

.sharing, section {
  // remove image styling
  .sharebutton > .button-img { margin: 0; border: 0; box-shadow: none; }

  // default image size and positioning
  .sharebutton > .button-img { font-size: 18px; vertical-align: top; height: 13px; margin-top: 3px; }

  // default button style
  a.sharebutton {
    display: inline-block;
    position: relative;
    height: 18px;
    line-height: 18px;

    // text
    color: $text-color !important;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
    white-space: nowrap;

    // border
    border: 1px solid $type-border;
    border-radius: 3px;
    padding: 0px 4px 0px 4px;

    // background
    // background-color: #f8f8f8;
    // @include background(linear-gradient(#fff, #dedede));
  }
  .sharebutton:hover {
    color: $text-color !important;
    background-color: #e9e9e9;
    // @include background(linear-gradient(#eee, #ddd));
  }
  // .sharebutton:active {
  //   position: relative;
  //   top: 1px;
  // }


  a.sharebutton-large {
    @extend .sharebutton;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
  }


} // .sharing, section
