/*
  Header
*/

// header style
body > header a { font-weight: $header-font-weight; }

// nav style
body > nav a {
  font-weight: $navbar-font-weight;
  font-family: $navbar-font-family;
}

// Use larger header size at narrow widths
@media only screen and (min-width: 550px) {
  body { -webkit-text-size-adjust: auto; }
  body > header { font-size: $header-font-size * 1.2; }
}
@media only screen and (min-width: 768px) {
  body > header { font-size: $header-font-size * 1.3; }
  body { font-size: 1.15em; }
}

