/*
  Landing Page
*/

// padding before image, after text
div#landing {
  padding-top: 0.6em !important;
  padding-bottom: 1.5em !important;
  a { text-decoration: underline; }
}

// common styles for landing page text
.intro, .recentposts {
  p  {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
  }
  h3 {
    font-size: 1.1em !important;
    margin-bottom: 0.3em;
  }
}

// title link for post summaries
.recentposts > h3 > a {
  color: inherit !important;
  text-decoration: none !important;
  &:hover { color: $link-color-hover !important; }
}

// links shown for related sites/profiles
.introlinks {
  // insert separators between intro links
  a + a:before { content: '- '; }
  a { text-decoration: none !important; }
}

// remove padding from unused article
article#landing-info { padding-top: 0em !important; }

// margin after image
.intro { margin-top: 0.5em; }

// margin between intro and recent
.recentposts { margin-top: 1.5em; }

// styles for larger browser widths
@media only screen and (min-width: 768px) {

  // padding before image
  div#landing { padding-top: 1em !important; }

  // margin after image
  .intro, .recentposts { margin-top: 1em; }

  // float intro and recentposts across the page
  .intro {
    float: left;
    margin-right: 2em;
  }
  .recentposts {
    float: right;
    text-align: right;
    padding-top: 0em;
  }

  // add right border to recentposts
  .recentposts {
    border-right: 4px solid $link-color !important;
    padding-right: 1em;
  }

  // bottom align links to recent posts
  .introlinks { padding-top: 1em; }
}
