/*
  Add logo image to header
*/

// centre header title vertically with logo image
body > header h1 { vertical-align: middle !important; }

// leave space for image
body > header h1 { width: 75%; }

// position logo relative to hgroup
body > header > hgroup { position: relative; }

// set image display size and position
@mixin logosize($size, $top, $right) {
  $size:                      $size;
  height:                     $size;
  width:                      $size;
  background-size:      $size $size;

  // Position relative to hgroup
  top:                         $top;
  right:                     $right;
}

// add logo as background image
body > header hgroup:before {
    content:        "";
    position: absolute;
    overflow:  visible;
    z-index:         1;
    display:      none;   // enable logo by browser width

    // Use multiple background support to display SVG
    //  Uses standard PNG background as a fallback
    //  http://css-tricks.com/using-svg/
    background:       url('/images/hackspace_logo.png');
    // background-image: url('/images/hackspace_logo.svg'), none;
    background-repeat:no-repeat;

    // set image display size and position
    @include logosize(5em, 0.2em, -0.4em);

    // Adjust logo padding/size at larger widths (when header title isn't wrapped)
    @media only screen and (min-width: 533px) {
      @include logosize(4.5em, -0.1em, -0.4em);
    }

    // Only show the logo with browser width >= 320px
    @media only screen and (min-width: 320px) { display: block; }
}
