/*
  Add logo image to header
*/

// centre header title vertically with logo image
body > header h1 { vertical-align: middle !important; }

// leave space for image
body > header h1 { width: 70%; }

// mixin for setting size/position of logo at different widths
@mixin size-logo($browser-width, $logo-size, $logo-pad) {
  @media only screen and (min-width: $browser-width) {
    right:                $logo-pad;
    height:               $logo-size;
    width:                $logo-size;
    background-size:      $logo-size $logo-size;
    display: block;       // Enable showing the logo
  }
}

// add logo as background image
body:after {
    content:"";
    position:absolute;
    overflow: visible;

    // Use multiple background support to display SVG
    //  Uses standard PNG background as a fallback
    //  http://css-tricks.com/using-svg/
    background: url('/images/hackspace_logo.png');
    background-image: url('/images/hackspace_logo.svg'), none;

    background-repeat:no-repeat;
    top:0.5em;

    // Default to not showing the logo
    display: none;

    // Logo sizes at various widths
    @include size-logo(320px,  80px, $pad-min);
    @include size-logo(400px, 100px, $pad-narrow);
    @include size-logo(768px, 120px, $pad-medium);
    @include size-logo(992px, 150px, $pad-wide);
}

