/*
  Add logo image to header
*/

// centre header title vertically with logo image
body > header h1 { vertical-align: middle !important; }

// leave space for image
body > header h1 { width: 75%; }

// position logo relative to hgroup
body > header > hgroup { position: relative; }

// add logo as background image
body > header hgroup:before {
    content:        "";
    position: absolute;
    overflow:  visible;
    z-index:         1;
    display:      none;   // enable logo by browser width

    // Use multiple background support to display SVG
    //  Uses standard PNG background as a fallback
    //  http://css-tricks.com/using-svg/
    background:       url('/images/hackspace_logo.png');
    // background-image: url('/images/hackspace_logo.svg'), none;
    background-repeat:no-repeat;

    // set image display size
    $logo-size:                  5em;
    height:               $logo-size;
    width:                $logo-size;
    background-size:      $logo-size $logo-size;

    // Position from top right, relative to hgrounp
    top:                       0.1em;
    right:                    -0.4em;

    // Remove padding at lower widths (when header title wraps)
    @media only screen and (min-width: 768px) { top: -0.1em; }

    // Only show the logo with browser width >= 320px
    @media only screen and (min-width: 320px) { display: block; }
}
