/*
  Navigation
*/

// match nav bar padding to header
@media only screen and (min-width: 550px) {
  body > nav { padding-bottom: 1.6em; }
}

// don't wrap navigation links
.main-navigation { white-space:nowrap; }

// remove borders between navigation links
body > nav > ul li + li { border-left: 0px; a { border-left: 0px; } }

// hide subscription links
body > nav { .subscription { display: none; } }

// don't show search field in nav bar
nav fieldset[role="search"] { display: none; }

// don't show mailing list
nav a[rel^="subscribe-email"] { display: none; }

// Less padding between nav items
body > nav > ul > li { margin-right: .6em; a { padding: 0; } }

/*
  Improvements for mobile browsers
*/
@media not screen and (min-width: 768px) {
  // adjust header and nav bar padding
  body > nav { padding-bottom: 1.5em; }

  // smaller search box
  nav form { width: 7em !important; }
}
@media not screen and (min-width: 550px) {
  // smaller title font
  body > header { font-size: 0.85em; }

  // smaller navigation font
  body > nav { font-size: 0.85em; }

  // adjust header and nav bar padding
  body > header { padding-top: 1.1em; }
  body > nav { padding-bottom: 1.2em; padding-top: 0em; }

  // less padding between nav items
  body > nav > ul {
    li { margin-right: 0.2em; a { padding: 0; } }
    li + li { margin-left: 0.5em; }
  }

  // don't show search field in nav bar
  nav fieldset[role="search"] { display: none; }
}
@media not screen and (min-width: 350px) {
  // hide RSS link
  // nav a[rel^="subscribe-rss"] { display: none; }

  // hide subscription and group links
  body > nav { .subscription { display: none; } }
  body > nav { [rel="_group"] { display: none; } }
}
