/*
  Navigation
*/

// match nav bar padding to header
@media only screen and (min-width: 768px) {
  body > nav { padding-bottom: 1.3em; }
}

// don't wrap navigation links
.main-navigation { white-space:nowrap; }

// remove borders between navigation links
body > nav > ul li + li { border-left: 0px; a { border-left: 0px; } }

// hide subscription links
body > nav { .subscription { display: none; } }

// Less padding between nav items
body > nav > ul > li { margin-right: .6em; a { padding: 0; } }

/*
  Improvements for mobile browsers
*/
@media only screen and (max-width: 767px) {
  // adjust header and nav bar padding
  // body > header { padding-top: 1.1em; }
  body > nav { padding-bottom: 1em; padding-top: 0em; }

  // less padding between nav items
  body > nav > ul {
    li { margin-right: 0.2em; a { padding: 0; } }
    li + li { margin-left: 0.5em; }
  }
}
@media only screen and (max-width: 400px) {
  // smaller title font
  body > header { font-size: 0.8em; }

  // smaller navigation font
  body > nav { font-size: 0.85em; }
}
@media only screen and (max-width: 350px) {
  // hide subscription and group links
  body > nav { .subscription { display: none; } }
  body > nav { [rel="_group"] { display: none; } }
}
