/*
  Sidebar
*/

// set sidebar h1 titles
aside.sidebar section h1 {
  font-size: 1.4em;
  font-weight: normal;
}

// style for sidebar at footer
.collapse-sidebar aside.sidebar {
  // match main background colour when collapsed
  background-color: $main-bg !important;
  // centre align text (so sections distribute evenly)
  // TODO: align left, with better distribution
  text-align: center;
}

// hide border top (using background colour to avoid issues)
aside.sidebar { border-top: 2px solid $sidebar-bg; }

// sidebar elements
aside.sidebar {
  // no underline for aside links
  a { text-decoration: none; }
  // no bottom borders and padding
  li {
    border-bottom: 0px;
    @include box-shadow(lighten($sidebar-bg, 5) 0 0px);
    padding-bottom: 0.3em !important;
  }
}

// sidebar border/toggle position
.toggle-sidebar {
  // set position
  top: 40px;
  // add left border
  border-left: 1px solid $sidebar-border;
  // hide tab
  &::after { display: none; }
}
// remove article right border
#content { border-right: none; }


/*
  Improvements for smaller browser widths
*/
@media only screen and (max-width: 750px) {
  // Set sidebar padding to match rest of page
  aside.sidebar {
    padding: 1.2em $pad-narrow;

    // match main background colour when collapsed
    background-color: $main-bg !important;

    // Use horizonal layout for sidebar at footer
    @media only screen and (min-width: 480px) {
      & section { width:50%; float:left; }
    }
  }
}


// Use top padding that matches width: >= 992px
@media only screen and (min-width: 768px) {
  aside.sidebar { padding-top: 1.2em; }
}
