/*
  Sidebar
*/

// truncate items using ellipsis
section > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  a { white-space: nowrap !important; }
  padding-right: 0.4em !important;
}

// set font size for titles and items
aside.sidebar section {
  h1 {
    font-size: 1.4em;
    font-weight: normal;
  }
  ul { font-size: 1.1em; }
}

// remove borders from sidebar headers
aside.sidebar > section > h1 {
  border-bottom:  0px solid $sidebar-bg;
  @include box-shadow($sidebar-bg 0 0px);
}

// mixin style for sidebar at footer
@mixin footersidebar {
  // match main background colour when collapsed
  background-color: $main-bg !important;
  // hide border top (using background colour to avoid issues)
  border-top: 1px solid $main-bg !important;
}

// use footersidebar style when manually collapsed, or for smaller width
aside.sidebar {
  .collapse-sidebar & { @include footersidebar; }
  @media only screen and (max-width: 767px) { @include footersidebar; }
}

// hide standard border top (using background colour to avoid issues)
aside.sidebar { border-top: 2px solid $sidebar-bg; }

// sidebar elements
aside.sidebar {
  // no underline for aside links
  a { text-decoration: none; }
  // no bottom borders and padding
  li {
    border-bottom: 0px;
    @include box-shadow(lighten($sidebar-bg, 5) 0 0px);
    padding-bottom: 0.3em !important;
  }
}

// sidebar border/toggle position
.toggle-sidebar {
  // set position
  top: 40px;
  // add left border
  border-left: 1px solid $sidebar-border;
  // hide tab
  &::after { display: none; }
}
// remove article right border
#content { border-right: none; }


/*
  Improvements for smaller browser widths
*/
@media only screen and (min-width: 480px) and (max-width: 750px) {
  // Set sidebar padding to match rest of page
  aside.sidebar {
    padding: 1.2em $pad-narrow;

    // Use horizonal layout for sidebar at footer
    & section { width:50%; float:left; }
  }
}


// Use top padding that matches width: >= 992px
@media only screen and (min-width: 768px) {
  aside.sidebar { padding-top: 1.2em; }
}
