/*
  Theme
*/

// use plain background, without image
html { background: $page-bg; }

// A better looking default horizontal rule (from h5bp.com)
hr { height: 1px; margin: 1em 0; border: 0; border-top: 1px solid #ccc; }
