/*
  Twitter widgets
*/

// tweets container
#tweets {
  font-size: 85%;
  padding-bottom: 0.5em;
  padding-right: 1em;
  .tweet {
    // only show main part for expanded urls
    a { span:first-child, span:last-child { display: none; }}
    a { color: $text-color-light; }
  }
  a:hover { color: $link-color-hover; }
  // turn off force wrap in sidebar
  a { white-space: normal; }
}

// twitter username
#tweets .user {
  float: left;
  // fullname
  span > span:after { content: ': '; }
  // margin-right: 0.5em;
  // username
  a > span:last-child { display: none; }
}

// twitter avatar
#tweets .user {
  a > img {
    width: 2.5em;
    float: left;
    border-width: 3px;
    margin-top: 0.3em;
    margin-right: 0.3em;
  }
}

// show twitter username/avatar
#tweets .user {
  // hide avatar
  a > img { display: none; }
  // hide username
  // a > span { display: none; }
}
