/*
  Text and links
*/

// Increase size of body text
body {
//  font-size: 1.3em !important;
}

// set all article h1 titles
article h1 {
  font-size: 1.5em !important;
  @media only screen and (min-width: 550px) {
    font-size: 1.7em !important;
  }
  font-weight: normal;
}

// set all article h2 titles
article h2 {
  font-size: 1.4em !important;
  font-weight: normal;
}

// set all article h3 titles
article h3 {
  font-size: 1.2em !important;
  font-weight: normal;
}

// normal font size for blockquotes
blockquote {
  font-size: 1em !important;
  border-left: 4px solid $hi-lights !important;
}

// set title link decoration
article h1 a:hover {
  text-decoration: none !important;
}

// do not transition link colours
a { @include transition(background-color false !important); }


/*
  Definition lists
*/

// list container
dl { padding: 0 0 1em 0em; }
// terms to define
dt { font-weight: bold; }
// definitions
dd { padding: 0 0 0em 2em; }
// new term (after a previous definition)
dd + dt { padding-top: 0.5em; }


/*
  Special Text
*/

// extra classes, useful for *kramdown's*{:.class} attributes
.underline  { font-style: inherit; text-decoration: underline; }
.strike     { font-style: inherit; text-decoration: line-through; }
.italic     { font-style: italic; }
.bold       { font-weight: bold; }


/*
  Footnotes
*/

// superscript footnote text
sup[id^=fnref] {
  // super is the expected setting
  vertical-align: middle;
  // the default seems to be 'smaller'
  font-size: 0.75em;
}

// footnote links
a[rel~="footnote"] {
  // don't underline footnote links
  text-decoration: none;
}

// footnote return links
a[rel~="reference"] {
  font-size: smaller;
  // don't underline footnote links
  text-decoration: none;
  // add padding before link
  padding-left: 0.3em;
}

// style for footnotes
.footnotes {
  border-top: 1px solid darken($sidebar-border, 4);
  margin-top: 45px;
  padding-top: 15px;
  font-size: smaller;
}

/*
  kramdown table of contents
*/

#markdown-toc {
  font-size: 0.8em;
  line-height: 1.5em;
  a { text-decoration: none; }
}

// style for h3 with id of 'contents'
h3#contents {
  margin-bottom: 0.5em;
}
