
  <!-- Google site verification -->
  <meta name="google-site-verification" content="PubgJ00VUIj1r0qaB3oR0KwXirQKu3XAhBh0YduPdS0" />

  <!-- Apple touch icons -->
  <link href="{{ root_url }}/apple-touch-icon-ipad.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
  <link href="{{ root_url }}/apple-touch-icon-ipad.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
  <link href="{{ root_url }}/apple-touch-icon-iphone.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
  <link href="{{ root_url }}/apple-touch-icon-iphone.png" rel="apple-touch-icon-precomposed" sizes="57x57" />

  <!-- Windows 8 Tile -->
  <meta name="application-name" content="{{ site.title }}"/>
  <meta name="msapplication-TileColor" content="#ff7700"/>
  <meta name="msapplication-TileImage" content="{{ root_url }}/apple-touch-icon-ipad.png"/>

  <!-- Original logo SVG file: see http://relogo.org/ -->
  <link rel="logo" type="image/svg" href="{{ root_url }}/images/hackspace_logo.svg" />

  <!-- Link to full license file -->
  <link rel="license" href="{{ site.license_full }}" />
