<ul class="main-navigation">
  <li><a href="{{ root_url }}/about">About</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="https://github.com/{{site.github_user}}">Projects</a></li>
  <li><a href="{{ root_url }}/join">Join</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ site.subscribe_rss }}" rel="_subscribe-rss" title="subscribe via RSS">RSS</a></li>
<!--
  <li><a href="http://groups.google.com/group/swindon-hackspace">Group</a></li>
  <li><a href="http://twitter.com/snhack">Twitter</a></li>
  <li><a href="https://www.icloud.com/photostream/en-gb/#A15oqs3q0QGJ3">Photostream</a></li>
-->
</ul>
