<ul class="main-navigation">
  <li><a href="{{ root_url }}/about/">About</a></li>
  <li><a href="{{ root_url }}/blog/">Articles</a></li>
  <li><a href="{{ root_url }}/projects/">Projects</a></li>
  <li><a href="{{ root_url }}/meetings/">Meetings</a></li>
  <li><a href="{{ site.group }}" rel="_group">Group</a></li>
  <li><a href="{{ site.subscribe_rss }}" rel="_subscribe-rss" title="subscribe via RSS">RSS</a></li>
<!--
  <li><a href="https://www.icloud.com/photostream/en-gb/#A15oqs3q0QGJ3">Photostream</a></li>
-->
</ul>
