---
layout: default
sidebar: collapse
---

<div>
  <img class="headerimage" src="/images/site_pano.jpg" alt="Header Image" width=100% class="center">

  <article role="article">

    <blockquote class="intro">
        <p>The hackspace meets from 6.30pm each Wednesday</p>

        <a href="/join">Join the Hackspace</a><br/>

        <a href="/about">About Swindon Hackspace</a>
    </blockquote>

    <div>
      <p class="recentposts">
        {% for post in site.posts limit: 0 %}
            <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a><br/>
        {% endfor %}
      </p>
    </div>

  </article>

</div>

<aside class="sidebar">
    {% include_array default_asides %}
</aside>
