---
layout: default
sidebar: false
description: Official website for the Swindon Hackpace
body_id: landing-page
---

<div id="landing">
  <script>
    var imgArray = ["1", "2"];
    var ranNum = Math.floor(Math.random()*imgArray.length);
    var image_rnd = imgArray[ranNum];
    document.write('<img src="/images/layout/site_pano_'+image_rnd+'.jpg" alt="Header Image" width=100% class="center">')
  </script>

  <article>

    <div id="intro">

      <h3><a href="/about">About the Hackspace</a></h3>

      <p>Meetings are held from 6.30pm each</p>
      <p>Wednesday, at the Museum of Computing</p>

      <p id='introlinks'>
        <a href="{{ site.rss_feed_title_url }}">Group</a> -
        <a href="http://twitter.com/{{site.twitter_user}}">Twitter</a> -
        <a href="https://facebook.com/{{site.facebook_user}}">Facebook</a> -
        <a href="http://www.youtube.com/user/{{ site.youtube }}">YouTube</a> -
        <a href="https://github.com/{{site.github_user}}">GitHub</a>
      </p>

    </div>

    <div id="recentposts">
      <h3><a href="{{ root_url }}/blog/">Latest Posts</a></h3>

      {% for post in site.posts limit: 2 %}
        <p>
          <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a><br/>
          {% if post.subtitle %}{{ post.subtitle | truncate:45 }}{% else %}{{ post.content | raw_content | strip_html | condense_spaces | truncate:45 }}{% endif %}<br/>
        </p>
      {% endfor %}

    </div>

  </article>

</div>
