---
layout: default
sidebar: false
---

<div id="landing">
  <img class="headerimage" src="/images/site_pano.jpg" alt="Header Image" width=100% class="center">

  <article id="landing-info">

    <div class="intro">

      <h3><a href="/about">About the Hackspace</a></h3>

      <p>Meetings are held from 6.30pm each</p>
      <p>Wednesday, at the Museum of Computing</p>

      <p class='introlinks'>
        <a href="{{ site.rss_feed_title_url }}">Group</a> -
        <a href="http://twitter.com/{{site.twitter_user}}">Twitter</a> -
        <a href="http://www.youtube.com/user/{{ site.youtube }}">YouTube</a> -
        <a href="https://github.com/{{site.github_user}}">GitHub</a>
      </p>

    </div>

    <div class="recentposts">
      <h3><a href="{{ root_url }}/blog/">Latest Posts</a></h3>

      {% for post in site.posts limit: 2 %}
        <p>

          <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a><br/>

          <span class='summary'>{% if post.summary %}{{ post.summary }}{% else %}{{ post.content | summary }}{% endif %}<br/></span>

        </p>
      {% endfor %}
    </div>

  </article>

</div>
