// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

/* main background colours */
$header-bg:       #ffffff;
$sidebar-bg:      $header-bg;
$main-bg:         $header-bg;
$nav-bg:          $header-bg;
/*$page-bg:       #555555;*/

/* remove gradient */
$nav-bg-front:    $nav-bg;
$nav-bg-back:     $nav-bg;

/* navigation borders */
$nav-border-top:  $nav-bg;
$nav-border-bottom:  $nav-bg;
/*$nav-border-bottom: darken($nav-bg, 15);*/

/* navigation link colour */
$nav-color: darken($nav-bg, 50);

/* header title colours */
$title-color: #555555;
/*$subtitle-color: #aaa;*/

/*$nav-border-right:  $nav-bg;*/
/*$nav-border-left:   $nav-bg;*/


/* hide sidebar border top */
aside.sidebar {
  border-top: none !important;
}

/* image used for background */
$noise-bg: top left !default;
/* $noise-bg: image-url('noise.png') top left !default; */


/* set colour of text */
$text-color: #555555;
$sidebar-color: $text-color;

/* set colour of visited links */
$link-color: lighten(#1863A1, 3);
$link-color-visited: $link-color;
/*$link-color-hover: $link-color;*/

/* set colour of sidebar links on hover */
$sidebar-link-color: #555555;
$sidebar-link-color-hover: #555555;
/*$sidebar-link-color: saturate(gray, 10);*/
/*$sidebar-link-color-hover: darken(black, 9);*/


/* minimal page footer */
body > footer {
  color: lighten(#555555, 25) !important;
  background-color: $main-bg !important;
  background-image: none !important;
  text-shadow: none !important;
  padding-top: 0.35em !important;
  padding-bottom: 0.35em !important;
  margin-bottom: 0em !important;
  border-radius: 0px !important;
  border-top: 0px !important;
  a { color: lighten(#555555, 25) !important; }
}
div#main {
  border-bottom: 1px solid darken($sidebar-bg, 15) !important;
}


/* code blocks theme */
/*$solarized: light;*/

/* solarized dark
$base03:  darken(#003366, 4);     // background - dark blue
$base02: lighten($base03, 2);     // border / gist footer
$base01: lighten(#586e75, 20);    // comments
$base1:  lighten(#93a1a1, 20);    // text
*/

/* solarized light */
/*$base3: #ffffff;                  // background - white*/
/*$base3: #f8f8ff;                  // background - blueish white*/
/*$base2: lighten($base3, 2);       // border*/



//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
