/*
  Theme changes for lighter background/text
*/

$basecolor: #f70;
$hi-lights: desaturate($basecolor, 10);
$off-white: scale-color($basecolor, $lightness: 96%);
$off-white: change-color($off-white, $red: green($off-white));

// header title colours
$title-color: darken($off-white, 5);
//$subtitle-color: #aaa;

// main background colours
$page-bg:         darken($off-white, 4);
$main-bg:         $off-white;
$header-bg:       #4a4a4a;
$nav-bg:          $header-bg;
$sidebar-bg:      $main-bg;
$footer-bg:       $header-bg;

// image used for background
$noise-bg: top left !default;
// $noise-bg: image-url('noise.png') top left !default;

// set colour of text
$text-color: #555;
$sidebar-color: $text-color;

// set colour of visited links
$link-color: $hi-lights;
$link-color-visited: $link-color;
$link-color-hover: $link-color;
$link-color-active: $link-color;

// set light text colour
$text-color-light: lighten(gray, 12);

// set colour of sidebar links on hover
$sidebar-link-color: $sidebar-color;
$sidebar-link-color-hover: $link-color;
//$sidebar-link-color: saturate(gray, 10);
//$sidebar-link-color-hover: darken(black, 9);

// sidebar border
$sidebar-border: darken($sidebar-bg, 2);
// $sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;

// remove gradient
$nav-bg-front:    $nav-bg;
$nav-bg-back:     $nav-bg;

// navigation link colour
$nav-color:  $title-color;
$nav-color-hover: $link-color;


// navigation borders
$nav-border-top:  $nav-bg;
$nav-border-bottom:  $nav-bg;
//$nav-border-bottom: darken($nav-bg, 15);
//$nav-border-right:  $nav-bg;
//$nav-border-left:   $nav-bg;

// code blocks theme
$solarized: light;
$base3: #ffffff;                  // background - white
$base2: lighten($base3, 2);       // border

// solarized dark
//$base03:  darken(#003366, 4);     // background - dark blue
//$base02: lighten($base03, 2);     // border / gist footer
//$base01: lighten(#586e75, 20);    // comments
//$base1:  lighten(#93a1a1, 20);    // text

// solarized light
//$base3: #ffffff;                  // background - white
//$base3: #f8f8ff;                  // background - blueish white
//$base2: lighten($base3, 2);       // border


// -------

// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
