/* import fonts */
/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* set fonts */
$sans: 'Open Sans', sans-serif;
$serif: 'Open Sans', sans-serif;
$heading-font-family: 'Open Sans', $sans;
$header-title-font-family: $sans;
$header-subtitle-font-family: $sans;

/* Increase size of body text */
body {
/*  font-size: 1.3em !important;*/
}

/* set all article h1 titles */
article h1 {
  font-size: 1.5em !important;
  @media only screen and (min-width: 550px) {
    font-size: 1.7em !important;
  }
  font-weight: normal;
}

/* set all article h2 titles */
article h2 {
  font-size: 1.4em !important;
  font-weight: normal;
}

/* set all article h3 titles */
article h3 {
  font-size: 1.2em !important;
  font-weight: normal;
}

/* don't highlight or underline titles */
.blog-index article h1 a:hover {
  text-decoration: none;
  color: $text-color !important;
}

/* normal font size for blockquotes */
blockquote {
  font-size: 1em !important;
}

// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

//$sans: "Optima", sans-serif;
//$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
//$heading-font-family: "Verdana", sans-serif;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;
