/*
  Styles for print
*/

// main body style
body {
  color: black;
  font-size: 12pt;
  font-family: sans-serif;
  line-height: 1.5em;
  // work around no support for @page in safari
  margin: 1.5cm 1.5cm;
}

// page margins (not supported by safari)
// @page { margin: 1.5cm 1.5cm; }

// don't underline headers
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { text-decoration: none; }

// limit image width
img { max-width: 50%; }

// centre images in paragraph
p > img { margin: 0 auto 1.5em; display: block; }

// hide twitter buttons
.twitter-follow-button, .twitter-share-button, .twitter-count-horizontal { display: none; }

// hide video embeds
video, .flash-video { display: none; }

// smaller footer text
body > footer { font-size: 0.8em; padding-top: 2em; }

// blockquote style
pre, blockquote { border: none; }

// add page break between articles
// article + article { page-break-before: always; }
