// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* centre header title vertically with logo image */
body > header h1 { vertical-align: middle !important; }

/* header logo sizes for different widths */
img.headerlogo {
  vertical-align:middle;
  width: 80px !important;
}
@media only screen and (min-width: 480px) {
  img.headerlogo { width: 100px !important; }
}
@media only screen and (min-width: 768px) {
  img.headerlogo { width: 120px !important; }
}
@media only screen and (min-width: 992px) {
  img.headerlogo { width: 150px !important; }
}

/* remove borders between navigation links */
body > nav li + li { border-left: 0px; a { border-left: 0px; } }

/* hide subscription links */
body > nav { .subscription { display: none; } }

/* Less padding between nav items */
body > nav li + li { margin-left: .6em; a { padding-left: .6em; } }


/*
  Mobile Browser Navigation Improvements
*/

@media only screen and (max-width: 400px) {
  /* smaller title font */
  body > header { font-size: $header-font-size * .8; }
  /* body { -webkit-text-size-adjust: auto; } */

  /* smaller navigation font */
  body > nav { font-size: .8em; }

  /* less padding between nav items */
  body > nav li + li { margin-left: .3em; a { padding-left: .3em; } }

  /* hide subscription links */
  body > nav { .subscription { display: none; } }

  /* don't wrap navigation links */
  .main-navigation { white-space:nowrap; }
}
