// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* centre header title vertically with logo image */
body > header h1 { vertical-align: middle !important; }

/* remove borders between navigation links */
body > nav li + li { border-left: 0px; a { border-left: 0px; } }

/* hide subscription links */
body > nav { .subscription { display: none; } }

/* Less padding between nav items */
body > nav > ul > li { margin-right: .6em; a { padding: 0; } }

/* fix padding for sidebar at narrow width */
@media only screen and (min-width: 480px) {
  aside.sidebar { padding: 1.2em $pad-narrow $pad-narrow; }
}


/*
  Code Blocks
*/

/* don't show line-numbers in code blocks */
div.highlight {
  td.gutter { display: none !important; }
  td.code   {
    padding-left: 0.15em !important;
    padding-right: 0.15em !important;
  }
}

/* don't show line_numbers in gist blocks */
td.line_numbers { display: none !important; }
div.data > .highlight { width: 100%; }

/* smaller gist footer and margin */
.gist-meta { padding-top: .3em !important; }
.gist-meta { padding-bottom: .3em !important; }
div.data > .highlight { margin-bottom: 1px; }


/*
  Page Footer
*/

/* minimal page footer */
body > footer {
  color: $text-color-light !important;
  background-color: $main-bg !important;
  background-image: none !important;
  text-shadow: none !important;
  padding-top: 1.35em !important;
  margin-bottom: 0em !important;
  border-radius: 0px !important;
  border-top: 0px !important;
  a {
    color: $text-color-light !important;
    text-decoration: inherit;
    &:hover { color: darken($text-color-light, 15) !important; }
  }
}
div#main {
  border-bottom: 0px solid darken($sidebar-bg, 15) !important;
}


/*
  Mobile Browser Navigation Improvements
*/

@media only screen and (max-width: 400px) {
  /* smaller title font */
  body > header { font-size: $header-font-size * .8; }
  /* body { -webkit-text-size-adjust: auto; } */

  /* smaller navigation font */
  body > nav { font-size: .75em; }

  /* less padding between nav items */
  body > nav > ul > li { margin-right: .2em; a { padding: 0; } }

  /* hide subscription links */
  body > nav { .subscription { display: none; } }

  /* don't wrap navigation links */
  .main-navigation { white-space:nowrap; }
}
